<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <p>
      This is the homepage for the <a href="#">Ruby on Rails Tutorials</a> Sample App
  </p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
