<%= provide :page_title, 'Home' %>

<!-- PAGE CONTENT - BEGIN -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-main-content">
      <%= render 'shared/user_new_micropost' %>
      <div class="micropost-divider border"></div>
      <div id="feed_wrapper">
        <%= render 'shared/load_with_ajax' %>
      </div>
    </div>
  </div>
</div>
<!-- PAGE CONTENT - END -->
