<div id="logging-in-text" class="center opacity-0 translateX--30px" style="color: rgb(29, 161, 242); font-weight: bold; transition: opacity 1s linear, transform 0.3s linear;">
  <div>You are now logged in as Demo User.</div>
  <div>You will soon be redirected.</div>
</div>
