<!DOCTYPE html>
<html>
    <head>
        <title>
            Home | Ruby on Rails Tutorials Sample Application
        </title>
    </head>
    <body>
        <h1>Sample App</h1>

        <p>
            This is the homepage for the <a href="#">Ruby on Rails Tutorials</a> Sample App
        </p>
    </body>
</html>
