<button>
  <div class="comment stat flex flex-row flex-center-y">
    <div class="button">
      <div class="button-wrapper flex-center">
        <div class="button flex-center" aria-hidden="true">
          <%= render 'shared/svg/chat_right' %>
        </div>
      </div>
    </div>
    <div class="value">
      <%= commontator_thread(micropost) %>
    </div>
  </div>
</button>
