<%= form_tag(upvote_micropost_path(micropost), method: :put, remote: true) do %>
  <button>
    <div class="upvote stat flex flex-row flex-center-y">
      <div class="button">
        <div class="button-wrapper flex-center">
          <div class="button flex-center" aria-hidden="true">
            <%= render 'shared/svg/heart' %>
          </div>
        </div>
      </div>
      <div class="value">
        69
      </div>
    </div>
  </button>
<% end %>
