<div class="modal fade avatar-modal" id="avatar-modal-<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: <%# avatar_dominant_color(user, alpha = 0.9) %>;">
      <div class="modal-body">
        <div class="flex-center max-dem no-scroll">
          <button type="button" class="close positon-relative z-index-1" data-dismiss="modal" aria-label="Close">
            <div class="button-wrapper my-flex-container flex-center">
              <div class="button" aria-hidden="true">
                <%= render 'shared/svg/close' %>
              </div>
            </div>
          </button>
          <div class="flex-center" style="width: 500px; max-width: 100vh">
            <div class="rounded-circle overflow-hidden position-relative" style="width:100%;">
              <div class="loading-shimmer position-absolute"></div>
              <div class="position-relative" style="width:100%; padding-bottom: 100%; background-image: url('<%= avatar_url(user, size: 500) %>'); background-position: center; background-size:cover">
            </div>
            </div>
            <%= gravatar_for(user, size: 500, klass: "position-absolute opacity-0") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
