<% provide :page_title, "Explore" %>

<!-- PAGE CONTENT - BEGIN -->

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="flex flex-column border-right border-left border-top">
      <%= render @users %>
    </div>
  </div>
</div>

<div class="flex-center">
  <%= will_paginate %>
</div>
<!-- PAGE CONTENT - END -->
