<div class="user-avatar rounded-circle overflow-hidden dimmer-wrapper loading-shimmer">
  <%= link_to user do %>
    <%= gravatar_for(user, size: 50) %>
    <div class="dimmer"></div>
  <% end %>
</div>
