<% if @feed_items.any? %>
  <h3>Micropost Feed</h3>
  <div class="microposts">
    <%= render @feed_items %>
  </div>
  <div class="text-center">
    <%= will_paginate @feed_items, params: { controller: 'static_pages', action: 'home' } %>
  </div>
<% end %>
