<% if @feed_items.any? %>
  <!-- FLEX MICROPOSTS -->
  <div class="my-flex-container flex-column microposts-flex-container">
    <%= render @feed_items %>
  </div>
  <!-- FLEX MICROPOSTS -->
  <div class="flex-center">
    <%= will_paginate @feed_items, params: { controller: 'static_pages', action: 'home' } %>
  </div>
<% end %>
