<% unless current_user?(user) %>
  <div id="follow_form">
    <% if current_user.following?(user) %>
      <%= render partial: 'shared/unfollow', locals: { user: user } %>
    <% else %>
      <%= render partial: 'shared/follow', locals: { user: user } %>
    <% end %>
  </div>
<% end %>
