<div class="flex flex-center flex-wrap">
  <%= link_to login_path_with_dest, class: "login-signup-anchor" do %>
    <button class="btn btn-primary follow-button login flex flex-center" style="
    ">
      <span class="my-label">Log in</span>
    </button>
  <% end %>
  <%= link_to signup_path_with_dest, class: "login-signup-anchor" do %>
    <button class="btn btn-primary my-button signup flex flex-center">
      <span class="my-label">Sign up</span>
    </button>
  <% end %>
</div>
