<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <div class="flex flex-row mini-navbar-container">
      <div class="left-side flex-center">
        BACK
      </div>
      <div class="middle-side flex-grow-1">
        <h2>
          <%= @user.name %>
        </h2>
        <div class="detail">
          <%= pluralize(@user.media.count, 'photo') %>
        </div>
      </div>
      <div class="right-side"></div>
    </div>
  </div>
</div>
