<% col ||= 8 %>
<% offset ||= 4 %>

<div class="row">
  <div class="col-md-<%= col %> col-md-offset-<%= offset %>">
    <div class="flex flex-row mini-navbar-container">
      <div class="left-side flex-center">
        BACK
      </div>
      <div class="middle-side flex-grow-1">
        <h2 id="mini-bar-heading">
          <%= heading %>
        </h2>
        <div class="detail">
          <%= detail %>
        </div>
      </div>
      <div class="right-side"></div>
    </div>
  </div>
</div>
