<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <div class="flex flex-row mini-navbar-container">
      <div class="left-side flex-center">
        <h2 id="mini-bar-heading">
          Home
        </h2>
      </div>
    </div>
  </div>
</div>
