<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="flex flex-row mini-navbar-container">
      <div class="left-side flex-center">
        BACK
      </div>
      <div class="middle-side flex-grow-1">
        <h2>
          Explorer
        </h2>
        <div class="detail">
          Let's follow other people
        </div>
      </div>
      <div class="right-side"></div>
    </div>
  </div>
</div>
