<div class="row position-sticky top-4 bg-white">
  <div class="col-md-6 col-md-offset-3">
    <div class="flex flex-row mini-navbar-container border border-bottom-0">
      <div class="left-side flex-center">
        <h2 id="mini-bar-heading">
          Home
        </h2>
      </div>
    </div>
  </div>
</div>
