<% @user ||= current_user %>

<div class="flex flex-row flex-wrap stats">
  <div class="stat">
    <%= link_to following_user_path(@user) do %>
      <strong id="following" class="stats">
        <%= @user.following.count %>
      </strong>
      followings
    <% end %>
  </div>
  <div class="stat">
    <%= link_to followers_user_path(@user) do %>
      <strong id="followers" class="stats">
        <%= @user.followers.count %>
      </strong>
      followers
    <% end %>
  </div>
</div>
