<% @user ||= current_user %>

<div class="flex flex-row flex-wrap stats">
  <div class="stat">
    <%= render 'shared/links/following' %>
  </div>
  <div class="stat">
    <%= render 'shared/links/followers' %>
  </div>
</div>
