<div class="micropost-container new-micropost-container border">
  <div class="my-flex-container flex-row micropost-flex-container">
    <div class="micropost-avatar rounded-circle overflow-hidden dimmer-wrapper loading-shimmer">
      <%= link_to current_user do %>
        <%= gravatar_for(current_user, size:50) %>
        <div class="dimmer transition-03s"></div>
      <% end %>
    </div>
    <div class="my-flex-container flex-column micropost-main new-micropost-main">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
  </div>
</div>
