<div class="micropost-container new-micropost-container border border-top-0">
  <div class="my-flex-container flex-row micropost-flex-container">

    <%= render partial: 'shared/avatar', locals: { user: @current_user } %>

    <div class="my-flex-container flex-column micropost-main new-micropost-main">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </div>
  </div>
</div>
