<div id='back-button'>
  <div class="button-wrapper flex-center mini-navbar-button-wrapper">
    <div class="button flex-center" aria-hidden="true">
      <%= render 'shared/svg/back' %>
    </div>
  </div>
</div>
