<%= link_to root_path, id: 'home-button' do %>
  <div class="button-wrapper flex-center mini-navbar-button-wrapper">
    <div class="button flex-center" aria-hidden="true">
      <%= render 'shared/svg/home' %>
    </div>
  </div>
<% end %>
