/*
 *= require mentionsInput/jquery.mentionsInput
 *= require_self
 *= require_tree .
 */

.commontator {
  *:not(input):not(textarea) {
    margin: 0;
    // border: none;
    // padding: 0;
  }

  .commontator-hidden {
    display: none;

    a {
      display: none !important;
    }
  }

  .header {
    display: block;

    overflow: hidden;

    // padding-top: 10px;
  }

  .actions {
    // float: right;

    // margin-left: 10px;
  }

  .status {
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
  }

  .comment-list {
    // background-color: #000;
    padding: 0px 15px 0px 15px;
  }

  .children {
    padding-left: 0px;
  }

  /* Modified from: https://www.strangerstudios.com/sandbox/pagination/diggstyle.php */
  // .will-paginate,
  .page-entries-info, {
  	// margin: 10px 0;
  }

  .pagination {
    // margin: 0 0 !important;
    display: block;

    a {
    	margin-right: 4px;
    	padding: 2px 5px 2px 5px;
    	border: 1px solid #999;

    	color: #666;
    	text-decoration: none;

      &:hover, &:active {
        border: 1px solid #555;

        color: #000;
      }
    }

    em {
    	margin-right: 4px;
      border: 1px solid #555;
    	padding: 2px 5px 2px 5px;

      background-color: #555;

      font-weight: bold;
      color: #FFF;
    }

    .name {
    	margin: 2px 9px 2px 0;
    }

    .disabled {
    	margin-right: 4px;
      border: 1px solid #EEE;
      padding: 2px 5px 2px 5px;

      color: #DDD;
    }
  }

  .mentions {
    left: -8px;
    top: -8px;

    font-family: monospace;
    font-size: 13.3333px;
  }

  .field textarea {
    width: 100%;

    padding: 0;
    margin-bottom: 0;

    overflow: auto;
  }

  .submit {
    margin: 0px 0;
  }

  // &.thread > a,
  .status, {
    // margin-left: 65px;
  }

  // .will-paginate,
  //.new-comment,
  .page-entries-info {
    // margin-left: 75px;
  }

  .will-paginate {
    .pagination {
      margin-bottom: 10px !important;
    }
  }
}

.new-comment-reply-wrapper {
  padding: 15px !important;
  border-bottom: 1px solid #e8e8e8;

  .new-comment-reply {
    a {
      text-decoration: none !important;

      button {
        padding: 6px 12px;
        margin: 5px 5px 5px 10px;

        width: 90px;

        &.login {
          &:active,
          &:focus,
          &:active:focus {
            background-color: rgba(29, 161, 242, 0.2);
            color: rgba(29, 161, 242, 1);
            border-color: rgba(29, 161, 242, 1);
          }
        }

        &.signup {
          &:active,
          &:focus,
          &:active:focus {
            background-color: rgba(26, 145, 218, 0.9);
            color: white;
            border-color: rgba(26, 145, 218, 0.9);
          }
        }
      }
    }
  }
}
