// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
  padding-top: 70px;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}
/* header */
#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: hsla(0,0%,100%,.7);
  text-decoration: none;
}
// Change to flexbox to move the site logo to the center in mobile layout

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
}

.navbar-collapse {
  // Show hamburger collapse below the menu
  // (Set width of flex item to 100% to move it down)
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  // Move the layout links in PC layout to the right
  -ms-flex-positive: 1;
  flex-grow: 1;
}
// Add spacing to the navigation bar

.my-navbar-collapse {
  padding-left: 15px!important;
  padding-right: 15px!important;
}
// Change the layout for PC layout
@media (min-width: 768px) {
  .navbar-collapse {
    // Move the layout link back inline with site logo
    // by set flex item's width back to auto
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
// Move the site logo to the center in mobile layout
@media (max-width: 768px) {
  .navbar-brand {
    margin-left: auto!important;
    margin-right: auto!important;
  }
}
// Move the site logo to center absolutely position
// by changing the hamburger bar to absolute position
// and give the flex item with logo inside the whole flex container

.my-navbar-toggler-mobile {
  position: absolute;
  right: 0;
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: 1;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray;

  a {
    color: $gray-light;

    &:hover {
      color: $gray-darker;
    }
  }

  p {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  footer {
    text-align: center;

    p {
      float: none;
      display: block;
      margin-bottom: 1em;
    }

    ul {
      float: none;
      padding: 0;

      li {
        float: none;
        display: inline-block;
      }
    }
  }
}
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-bottom: 15px;

  .gravatar {
    float: none;
    margin-right: 0px;
  }
}
/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */
.uneditable-input,
input,
select,
textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}
