// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
body {
  padding-top: 70px;
  font-size: 16px;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}
/* header */
#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: hsla(0,0%,100%,.7);
  text-decoration: none;
}

/* Add pride banner */
// Move the navbar down to show the pride banner
.navbar-fixed-top {
    top: 4px;
}


.pride-banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  height: 4px;
  text-align: center;
  color: white;
  font-size: 1.7em;
  -webkit-transition: box-shadow 0.2s, height 0.2s;
  transition: box-shadow 0.2s, height 0.2s;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(3%, #D64241), color-stop(21%, #FA9F47), color-stop(36%, #F6DA3F), color-stop(51%, #73C080), color-stop(66%, #3098DA), color-stop(80%, #195DAE), color-stop(97%, #79589F));
  background-image: linear-gradient(90deg, #D64241 3%, #FA9F47 21%, #F6DA3F 36%, #73C080 51%, #3098DA 66%, #195DAE 80%, #79589F 97%);
  box-shadow: 0 1px 3px 0 rgba(89,105,128,0.05),0 1px 1px 0 rgba(0,0,0,0.025);
  overflow: hidden;
  opacity: 1;

  .pride-wrapper {
    background-image: inherit;
    background-size: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 2px 10px;
    opacity: 0;
    height: inherit;
    -webkit-animation: animate-background 10s infinite;
    animation: animate-background 10s infinite;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  &:active,
  &:focus,
  &:hover {
    height: 55px;
    box-shadow: 0 0 0 1px rgba(89,105,128,0.1),0 1px 3px 0 rgba(89,105,128,0.1),0 1px 2px 0 rgba(0,0,0,0.05);

    .pride-wrapper {
      opacity: 1;

      p {
        display: block;
      }
    }
  }

  p {
    display: none;
    margin: 0;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25),0 0 20px rgba(0,0,0,0.1);
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}
@media (max-width: 768px) {
  .pride-banner {
    font-size: 1.4em;
    p {
      line-height: normal;
    }
  }
}

// Change to flexbox to move the site logo to the center in mobile layout

.navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 1rem;
}


$current-page-gradient: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(18,95,139,1) 100%);
$hover-box-gradient: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(18,95,139,1) 100%);
div.collapse {
  ul.nav > li {
    // Add current page indicator for navbar links
    a.active:before {
      background-image: $current-page-gradient;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
    }

    // Add box hover indicate to links in navigation bar
    &:active,
    a:hover,
     {
      background: $hover-box-gradient;
    }
  }

  // Box hover indicate for items in account dropdown-menu in hamburger button
  ul.nav > li ul li:hover {
    background: $hover-box-gradient;
  }

  &[aria-expanded="true"],
  .in {
    ul.nav > li {
      // Not show current page indicator in the hamburger or dropdown menu
      a.active:before {
        background-image: none;
      }

      // Turn off background for account dropdown-menu when not hovering
      &:active {
        background: none;
      }
    }
  }
}

// Change the narbar-inverse's default color
.dropdown-menu,
.navbar-inverse {
  background-color: #232f3e;
}

// Change the navbar link's default color
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.7);

  &:focus {
    background: transparent;
  }

  &:hover {
    color: white;
    background: $hover-box-gradient; // Color of dropdown-menu
  }

  &[aria-expanded="true"] .my-caret svg {
    transform: rotate(180deg);
  }
}

// Change to SVG caret
.navbar-nav.navbar-right li a .my-arrow,
.nav.navbar-nav.navbar-right .dropdown .dropdown-toggle .my-caret,
.nav.navbar-nav.navbar-right .dropdown.open .dropdown-toggle .my-caret {
	float: right;
	width: 1.5rem;
	height: 1.5rem;

  svg {
    fill: white;
    filter:
      brightness(1);
  }
}

// Navbar link texts
.my-label {
  margin-right: 7.5px;
  font-size: 1.3em; // Increase navbar-links' font-size
}

.dropdown-menu {
  border: 1px solid white;
  min-width: auto; // Reduce the dropdown menu width
  font-size: 1.2em; // Increase dropdown-menu item font-size
}

.navbar-collapse {
  // Show hamburger collapse below the menu
  // (Set width of flex item to 100% to move it down)
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  // Move the layout links in PC layout to the right
  -ms-flex-positive: 1;
  flex-grow: 1;
}
// Add spacing to the navigation bar

.my-navbar-collapse {
  padding-left: 15px!important;
  padding-right: 15px!important;
}
// Change the layout for PC layout
@media (min-width: 768px) {
  .navbar-collapse {
    // Move the layout link back inline with site logo
    // by set flex item's width back to auto
    -ms-flex-preferred-size: auto;
    flex-basis: auto;

    span.my-arrow {
      display: none;
    }
  }
}
// Move the site logo to the center in mobile layout
@media (max-width: 768px) {
  .navbar-brand {
    margin-left: auto!important;
    margin-right: auto!important;
  }
}
// Move the site logo to center absolutely position
// by changing the hamburger bar to absolute position
// and give the flex item with logo inside the whole flex container

.my-navbar-toggler-mobile {
  position: absolute;
  right: 0;
}

// Change hamburger default color
.navbar-inverse .navbar-toggle {
	border-color: white;

  &:hover,
  &:focus {
    // background-color: $gray;
    background-image: $hover-box-gradient;
  }
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: 1;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-lighter;
  color: $gray;

  a {
    color: $gray-light;

    &:hover {
      color: $gray-darker;
    }
  }

  p {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  footer {
    text-align: center;

    p {
      float: none;
      display: block;
      margin-bottom: 1em;
    }

    ul {
      float: none;
      padding: 0;

      li {
        float: none;
        display: inline-block;
      }
    }
  }
}
/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-bottom: 15px;

  .gravatar {
    float: none;
    margin-right: 0px;
  }

  img {
    vertical-align: text-top;
  }
}
/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */
.uneditable-input,
input,
select,
textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;

  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

div.bottom-text {
  margin-top: 20px;
  text-align: center;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */
ul.users {
  list-style: none;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
