<div class="loading-spinner-wrapper flex-center h-20vh border-right border-left">
  <div class="loading-spinner" style="height: 26px; width: 26px;">
    <svg height="100%" viewbox="0 0 32 32" width="100%">
      <circle cx="16" cy="16" fill="none" r="14" stroke-width="4" style="stroke: rgb(29, 161, 242); opacity: 0.2;"></circle>
      <circle cx="16" cy="16" fill="none" r="14" stroke-width="4" style="stroke: rgb(29, 161, 242); stroke-dasharray: 80px; stroke-dashoffset: 60px;"></circle>
    </svg>
  </div>
</div>
<div class="h-80vh border-right border-bottom border-left"></div>
